.uploadCard {
  width: 200px;
  height: 160px;
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgb(231, 231, 231);
}

.uploadCard:hover {
  opacity: 0.85;
}

.picture {
  width: 200px;
  height: 160px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  /* border: 1px solid rgb(231, 231, 231); */
  margin-right: 10px;
  border-radius: 4px;
}

.picture img {
  height: 100%;
  width: auto;
}